.card-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    width: 400px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 5px rgba(129, 129, 129, 0.568);
    overflow: hidden;
    transition: all ease-in-out .3s;
}

.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #0DBA85, #03224b);
    clip-path: circle(400px at 50% -48.5%);
}

.card-header{
    position: relative;
    height: 265px;
}

.card-main{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-main .profile-image{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: url(../../assets/profile.jpg);
    background-position: center;
    background-size: contain;
    border: 4px solid #0DBA85;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
}


.username{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

.user-subname{
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.8;
}

.card-content{
    display: flex;
    padding: 1.7rem 2.5rem 1.7rem 2.5rem;
}

.left-content{
    width: 100%;
}

.detail-title{
    color: #555;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 0 3px 0;
    transition: all ease-in-out .3s;
}

.detail-data{
    color: #666;
    margin-bottom: 0.9rem;
}

.buttons-container{
    padding-top: 1.5rem ;
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: 0.5s;
}

.icon img{
    width: 1.3rem;
    height: 1.3rem;
}

.icon:hover{
    transform: scale(1.05);
    border: 1px solid #0DBA85;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media (max-width: 370px) {
    .card-header{
        height: 230px;
        transition: 0.3s;
    }

    .card::before{
        clip-path: circle(400px at 50% -74.5%);
        height: 230px;
        transition: 0.3s;
    }

    .card-main .profile-image{
        width: 90px;
        height: 90px;
        border-width: 3px;
        transition: 0.3s;
    }

    .card-content{
        padding: 1.2rem 1.8rem 1.8rem 1.8rem;
        transition: 0.3s;
    }

    .icon{
        width: 2rem;
        height: 2rem;
        transition: 0.3s;
    }
    
    .icon img{
        width: 1rem;
        height: 1rem;
        transition: 0.3s;
    }

    .detail-title{
        font-size: 1rem;
    }

    .detail-data{
        font-size: 0.8rem;
    }
}
