.main-wrapper{
    position: relative;
}

.court-details-header{
    width: 100%;
    background: url(../../assets/search-area.png) no-repeat 50% 20% / cover;
    min-height: 220px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.court-details-header h1{
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2px;
}

.left-detail-container{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;

}

.left-detail-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-detail-container h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #03224b;
}

.left-detail-container p{
    font-size: 0.9rem;
    margin: 0;
    color: #666;
    line-height: 1.9;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.left-detail-container ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.right-photos-container{
   margin-top: 20px;
}

.court-photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}

.court-photos img{
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.add-slot{
    margin-left: 1rem;
}

.cancel{
    background-color: #929292;
    margin-left: 1rem;
}

.select-slot-modal{
    position: absolute;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000096;
}

.slot-modal{
    width: 100%;
    overflow: auto;
}

.slot-modal p{
    margin-top: 1rem;
}

.slot-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
}

.slot-display .slot-span{
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: #03224b;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.creation-box li{
    padding: .5rem .1rem;
    border-bottom: 1px solid #9e9e9e;
    list-style: none;
    width: 100%;
    font-size: small;
}

.creation-list{
    max-height: 100px;
    overflow: auto;
}

.slot-selector{
    font-weight: 600;
    color: #395479;
    cursor: pointer;
}

.booked-slot{
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    font-weight: 400;
    text-align: center;
    color: rgba(104, 104, 104, 0.87);
    background-color: rgb(209, 209, 209);
    cursor:not-allowed;
}

.nonBooked-slot{
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: #03224b;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.selection{
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: #03224b9d;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 860px){

    .main-container{
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        padding: 10px 0;
    }

    .left-detail-container{
        padding: 10px 0;
    }

    .court-photos{
        height: 480px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px){
    .left-detail-container{
        margin: 0;
        margin-right: auto;
    }
}

@media (max-width: 1020px){
    .court-details-header h1{
        font-size: 3rem;
    }
}

@media (max-width: 870px){
    .court-details-header h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 570px){
    .court-details-header h1{
        font-size: 2rem;
    }
}

@media (max-width: 470px) {
    .court-details-header h1{
        font-size: 1.5rem;
    }
}