.big-wrapper{
    padding: 0 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-btn{
    text-decoration: none;
    font-weight: 500;
}

.showcase-area{
    margin:auto 0;
    padding: 0 1rem;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   justify-content: center;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    margin-left: 25px;
}

.right-image{
    width: 30rem;
    height: 30rem;    
}

.landing-title{
    font-size: 2.4rem;
    color: #03224b;
    line-height: 1.4;
    text-transform: capitalize;
}

.text{
    color: #777777;
    font-size: 1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
}

@media screen and  (max-width: 870px){

    .showcase-area{
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }
    .showcase-area .container{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }

    .right-image{
        transform: none;
    }

    .title{
        font-size: 1.8rem;
    }

    .text{
        margin: 1.4rem 0 1.5rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 470px) {
    .container{
        padding: 0 1.5rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .text{
        margin: 1.1rem 0 1.5rem;
        font-size: 1rem;
        max-width: 400px;
    }

    .showcase-area #btn{
        font-size: 0.8rem;
    }

    .right{
        max-width: 370px;
    }
}

