.nav-link {
  text-decoration: none;
}

.logo img {
  width: 50px;
  margin-top: -0.2rem;
}

.container {
  position: relative;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  z-index: 10;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  z-index: 10;
  transition: all 0.5s;
}

.normal{
  background-color: transparent;
}

.scrollEffect{
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(197, 197, 197, 0.897);
}

.darkScrollEffect{
  background-color: #252525;
  box-shadow: 0px 1px 10px rgba(197, 197, 197, 0.897);
}


header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: ease 0.4s;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h3 {
  color: #03224b;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  transition: all ease-in-out .3s;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 1.2rem;
}

.links .nav-link {
  color: #03224b;
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 2.5rem;
  transition: ease 0.5s;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 50px;
}

.links .nav-link:hover {
  background-color: #0dba85;
  color: #fff !important;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 50px;
}

.overlay {
  display: none;
}

#btn {
  display: inline-block;
  padding: 0.6rem 1.3rem;
  color: #fff !important;
  background-color: #0dba85;
  border-radius: 50px;
  text-transform: capitalize;
  transition: ease 0.5s;
}

#btn:hover {
  background-color: #174168;
  transform: scale(1) !important;
}

.humburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

@media (max-width: 870px) {
  .humburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: #057e59;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links .nav-link {
    color: #fff;
  }

  .links ul {
    flex-direction: column;
  }

  .links #btn {
    background-color: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .container.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .container.active .overlay {
    pointer-events: all;
    opacity: 1;
  }
}
