/* .review-container{
    max-width: 60rem;
    height: 100vh;
    background-color: aquamarine;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 4.5rem;
    border-radius: .5rem;   
} */

.review-form{
    max-width: 55rem;
    padding: 1.5rem;
    margin: 0  auto;
    border-radius: 0.5rem;
    background-color: #eceaea;
    margin-top: 5rem;
    box-shadow: 0px 0px 10px #fff;
}

.review-box{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0.4rem 0;
    border-radius: 0.5rem;
    background-color: #fff;
}

.reviewsDisplay{
    max-height: 20rem;
    margin-top: 1rem;
    background-color: #eceaea;
    overflow-x: scroll;
}

input[type=ratio]{
    display: none;
}

.star{
    cursor: pointer;
    color: #8b8b8b7a;
}

.review{
    margin-bottom: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.review p{
    font-size: 12px;
}