:root {
  --bg-color: #fff;
  --theme-color: #0dba85;
  --second-color: #395479;
  --main-color: #03224b;
  --big-font: 5rem;
  --h2-font: 2rem;
  --p-font: 1rem;
}

section {
  padding: 3rem 2rem;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/collage10.png');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  box-shadow: 0px 1px 10px rgba(197, 197, 197, 0.897);
}

.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  font-family: "Paytone One", sans-serif;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 18px #000000;
}


.home-text{
  margin-left: 20px;
}

.type-text {
  text-align: center;
}

.type-text h2 {
  font-size: var(--h2-font);
  line-height: 1.1;
  color: #03224b;
}

.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  color: #03224b;
}

.container-box {
  background: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 10px;
  transition: all 1s ease 0s;
  cursor: pointer;
}

.container-image img {
  height: 85px;
  width: 85px;
  padding: 15px;
  background: var(--bg-color);
  box-shadow: 2px 8px 20px rgba(121, 121, 121, 0.651);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.container-box h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.container-box p {
  font-size: 13px;
  color: var(--second-color);
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgba(136, 136, 136, 0.432);
  border: 1px solid var(--theme-color);
  transform: translateY(-3px);
}

.title {
  text-align: center;
}

.title h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
  color: var(--main-color);
}

.turf-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  color: #03224b;
}

.thum {
  position: relative;
}

.thum img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.thum h3 {
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  text-align: right;
  color: var(--bg-color);
  top: 30px;
  right: 40px;
}

.dest-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.8rem;
}

.location h4 {
  font-size: 20px;
  font-weight: 600;
}

.location p {
  font-size: 13px;
  color: var(--second-color);
}

.court-content img:hover {
  transform: scale(1.03);

}

.courts-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  color: #03224b;
}

.court-content {
  position: relative;
  cursor: pointer;
}

.court-content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: all 0.8s ease 0s;
}

.court-content h5 {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  color: var(--bg-color);
  left: 15px;
  bottom: 60px;
}

.court-content p {
  position: absolute;
  font-size: 13px;
  color: var(--bg-color);
  left: 15px;
  bottom: 30px;
  letter-spacing: 2px;
}

.contact {
  background-color: #057e59;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 20px 0;
}

.list {
  width: 33%;
}

.list h4 {
  font-size: 20px;
  color: var(--bg-color);
  margin-bottom: 30px;
  position: relative;
}

.list h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: var(--bg-color);
}

.list ul li:not(:last-child) {
  margin-bottom: 16px;
}

.list ul li a {
  color: #ffffffbf;
  font-size: var(--p-font);
  display: block;
  transition: 0.5s;
}

.list ul li a:hover {
  color: var(--bg-color);
  transform: translateX(8px);
}

.list .social a {
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
  transition: 0.3s;
}

.list .social a:hover {
  transform: scale(1.1);
}

.end-text {
  text-align: center;
  padding-top: 60px;
}

.end-text p {
  color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 2px;
}

.search-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  display: flex;
  align-items: center;
  width: 500px;
  padding: 0 1rem;
  border-radius: 50px;
  border: 2px solid #0dba85;
  background-color: #fff;
}

.search-input img{
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.search-area input{
  flex-grow: 1;
  background-color: transparent;
  padding: 0.6rem;
}

@media (max-width: 870px) {
  :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    --p-font: 0.5rem;
    transition: 0.5s;
  }

  .list{
    width: 50%;
    margin-bottom: 12px;
    transition: 0.5s;
  }
  .search-input{
    width: 450px;
  }
}

@media (max-width: 570px) {
    :root{
        --big-font: 3rem;
        transition: .5s;
    }
    .list{
        width: 100%;
        margin-bottom: 12px;
        transition: 0.5s;
    }
    .home{
        height: 85vh;
        transition: .5s;
    }
    .search-input{
      width: 350px;
    }
}
