@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*, *::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body{
  transition: all ease-in-out .3s;
}


*::-webkit-scrollbar{
  display: none;
}

.dark-mode{
  background-color: #252525 !important;
  color: rgb(173, 171, 171) !important;
  transition: all ease-in-out .3s;
}

.dark-mode-text{
  color: #adabab !important;
  transition: all ease-in-out .3s;
}